:root {
  --color-accent: #fc7e08;
  --color-highlight: #f8eade;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background-color: var(--color-accent);
  color: #0d1322;
}
body {
  background-color: #0d1322;
  color: #ceb29f;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 6rem;
}

.underlay {
  position: fixed;
  background-color: #172554;
  inset: 0;
  opacity: 15%;
}

header,
main,
footer {
  position: relative;
  z-index: 10;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

header h1,
header h4,
.light-text {
  color: var(--color-highlight);
}

header a {
  text-decoration: none;
}

header h1 {
  font-weight: 600;
}

header h4 {
  font-weight: 400;
}

.icon-links {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  transition-duration: 200ms;
}

.icon-links:hover,
.exp-links:hover {
  color: var(--color-accent);
  opacity: 70%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section h5 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.about-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-contents p {
  font-size: 1rem;
}

.anchor-text,
.qualification {
  color: var(--color-highlight);
  text-decoration: none;
  font-weight: 450;
  transition-duration: 200ms;
}

.anchor-text:hover {
  color: var(--color-accent);
}

.exp-contents,
.edu-contents,
.project-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.exp-card {
  border: 1px solid #ceb29f;
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.exp-links {
  text-decoration: none;
  color: inherit;
  transition-duration: 200ms;
}

.tenure {
  opacity: 60%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}

.exp-card p,
.edu-contents p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.card-header {
  font-weight: 400;
  font-size: 0.95rem;
}

.tag-container {
  display: flex;
  gap: 0.25rem 0.5rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.3rem 0.5rem;
  border-radius: 0.6rem;
  color: var(--color-accent);
  background-color: rgba(252, 126, 8, 0.1);
}

.tag p {
  font-size: 0.8rem;
}
